/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
.head{
	background-color:black;
	color:white;
	top:10px;
}
.ace{
	color:red;
}
.a{
	background-color:white; width:50%; padding:10px; font-size:22px;
}
.b{
	background-color:gray; width:50%; padding:10px; 
}
.c{
	background-color:pink; width:50%; padding:10px;
}
.d{
	background-color:gray; width:50%; padding:10px; 
}
.e{
	background-color:white; width:50%; padding:10px; font-size:22px;
}